*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* utility class */
.flex{
  display: flex;
}
/* utility class */
.wrapper{
  min-width: 950px;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(360deg, #DBDBD3 80%, #009788 20%);
  align-items: center;
  justify-content: center;
}
.container-app{
  min-width: 950px;
  width: 80%;
  height: 95%;
}
.sidebar{
  width: 35%;
  height: 100%;
  flex-direction: column;
}
.main-content{
  width: 65%;
  height: 100%;
  background-image: url('../img/mine.jpg');
  flex-direction: column;
  border-left: 1px solid #ccc;
  justify-content: space-between;
}
.box-bottom{
  width: 100%;
  height: 70px;
  background-color:#EAEAEA;
  font-size: 25px;
  justify-content: space-around;
  align-items: center;
}
.box-bottom input{
  width: 80%;
  height: 70%;
}
.box-bottom i{
  margin: 0 20px;
  color: #6B7278;
}
.profile-box,.notify-box{
  min-height: 100px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}
.profile-box{
 background-color:#EAEAEA;
}
.notify-box{
 background-color: #8EDAFC;
}
.notify-content,.current-content{
  flex-direction: column;
  width: 70%;
  justify-content: center;
}
.current-content span:last-child{
  color: #B1B1B1;
}
.notify-content a{
  color: #487884;
}
.notify-box i{
 font-size: 30px;
 margin:0 40px;
 background-color: #fff;
 padding: 20px 15px;
 color: #8EDAFC;
 border-radius: 50%;
}
.notify-ico{
 justify-content: center;
 align-items: center;
 width: 30%;
}
.search-box{
  height: 50px;
  width: 100%;
  align-items: center;
  background-color:#EAEAEA;
  justify-content: center;
}
.contact-box{
  height: calc(100% - 250px);
  overflow-y: auto;
  width: 100%;
  background-color:#fff;
}
.profile-misc,.profile-tools{
  height: 100px;
  width: 60%;
  align-items: center;
}
.profile-tools{
  justify-content: space-around;
  width: 30%;
  font-size: 25px;
  color: #B1B1B1;
}
.profile-tools i{
cursor: pointer;
}
.profile-misc img,.user img,.current-user img{
  height: 80px;
  border-radius: 50%;
  margin: 0px 10px;
}
.user{
  height: 120px;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  align-items: center;
  cursor: pointer;
}
.user:hover{
  background-color: #ccc;
}
.box-top{
  width: 100%;
  height: 100px;
  background-color:#EAEAEA;
  justify-content: space-between;
}
.current-user,.current-tools{
  height: 100px;
  width: 75%;
  align-items: center;
}
.current-tools{
    width: 20%;
    font-size: 25px;
    color: #B1B1B1;
    justify-content: space-around;
}
.search-bar{
  width: 98%;
  height: 90%;
  border: none;
}
