<!DOCTYPE html>
<html lang="zxx" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Boolzapp web</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper flex">
      <div id="root" class="container-app flex">
        <!-- sidebar section -->
        <div class="sidebar">
          <!-- profile section -->
          <div class="profile-box flex">
            <div class="profile-misc flex"><img src="img/avatar_io.jpg" alt="">Nome Utente</div>
            <div class="profile-tools flex">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- profile section -->

          <!-- notify section -->
          <div class="notify-box flex">
            <div class="notify-ico flex">
              <i v-if="notify == false" class="fas fa-bell-slash"></i>
              <i v-if="notify == true" class="fas fa-bell"></i>
            </div>
            <div class="notify-content flex">
              Ricevi notifiche di nuovi messaggi
              <a  @click="changeNotify()">{{notifyStatus}} Notifiche desktop</a>
            </div>
          </div>
          <!-- notify section -->

          <!-- search section -->
          <div class="search-box flex">
            <i class="fas fa-search"></i> <input class="search-bar" type="text" name="" value="" placeholder="Cerca o inizia una nuova chat" v-on:keyup.13="search()" v-model="searchResult">
          </div>
          <!-- search section -->
          <!-- contact section -->
          <div class="contact-box">
            <div v-for="(i,index) in contacts" class="user flex" @click="selectedUser(i)">
              <img v-bind:src="'img/avatar' + contacts[index].avatar + '.jpg'" />
              <div class="flex usersBox">
                <span>{{contacts[index].name}}</span>
                <span>{{lastMessage(index)}}</span>
              </div>
            </div>
          </div>
          <!-- contact section -->
        </div>
        <!-- sidebar section -->

        <!-- main section -->
        <div class="main-content flex">
          <!-- top-bar section -->
          <div class="box-top flex">
            <div class="current-user flex">
                <img v-bind:src="'img/avatar' + selectedPic  + '.jpg'" />
                <div class="current-content flex">
                  <span>{{selected}}</span> <br>
                  <span>Ultimo accesso il {{lastAccessDate}} alle ore {{lastAccessTime}}</span>
                </div>
            </div>
            <div class="current-tools flex">
              <i class="fas fa-search"></i>
              <i class="fas fa-paperclip"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>
          </div>
          <!-- top-bar section -->

          <!-- conversations section -->
          <div class="box-conversation flex">
            <div v-for="(element,idx) in contacts[currentIndex].messages" v-bind:class="'flex '+ contacts[currentIndex].messages[idx].status">
              {{contacts[currentIndex].messages[idx].text}} <br>
              <div class="messageHour">{{createDate(currentIndex,idx)}}</div>
            </div>
          </div>
          <!-- conversations section -->

          <!-- box bottom section -->
          <div class="box-bottom flex">
            <i class="far fa-smile"></i>
            <input v-model="newMessage" type="text" name="" value="" v-on:keyup.13="addMessage(newMessage,'sent');receivedMessage();" placeholder="Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
          </div>
            <!-- box bottom section -->
        </div>
          <!-- main section -->
      </div>
    </div>
  <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
